body {
    margin: auto;
}
.card-align {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
button {
    background-color: darkslateblue;
    height: 450px;
    width: 450px;
    border-radius: 20px;
    margin: 10px;
}
button:hover {
    opacity: 0.8;
}
img {
    height: 380px;
    width: 380px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 5px;
}