body {
    margin: auto;
}
.card-align {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
button {
    background-color: #9dfcba;
    height: 430px;
    width: 430px;
    border-radius: 20px;
    margin: 10px;
}
button:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
img {
    height: 420px;
    width: 420px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 5px;
}